div.sysop-show, p.sysop-show { 
  display: block !important;
}
span.sysop-show, small.sysop-show { 
  display: inline !important;
}
table.sysop-show { 
  display: table !important;
}
li.sysop-show{
  display: list-item !important;
}
div.vectorMenu li.sysop-show {
    order: 999;
}
.vectorMenu .sysop-show::before {
    content: " ";
    display: block;
    height: 1px;
    color: #a2a9b1;
    background-color: #a2a9b1;
    border: 0;
    margin: 7px;
}
.vectorMenu .sysop-show~.sysop-show::before {
    display: none;
}
.vectorMenu .sysop-show {
    cursor: default;
}
.vectorMenu .sysop-show~.sysop-show,
.vectorMenu .sysop-show a {
    cursor: pointer;
}
.ajaxpoll .ajaxpoll-info .ajaxpoll-id-info {
    color: inherit;
    float: none;
}
.mw-special-AbuseFilter .mw-datatable.TablePager {
    table-layout: auto;
}
.mw-special-AbuseFilter .mw-datatable.TablePager .TablePager_col_af_id {
    width: 6em;
}
.mw-special-AbuseFilter .mw-datatable.TablePager tbody .TablePager_col_af_id,
.mw-special-AbuseFilter .mw-datatable.TablePager tbody .TablePager_col_af_enabled,
.mw-special-AbuseFilter .mw-datatable.TablePager tbody .TablePager_col_af_hidden  {
    padding-left: 0.5em!important;
}
.mw-special-AbuseFilter .mw-datatable.TablePager .TablePager_col_af_enabled,
.mw-special-AbuseFilter .mw-datatable.TablePager .TablePager_col_af_hidden  {
    width: 4em;
}
.TablePager_col_afh_id {
    text-align:center;
}
#mw-abusefilter-warn-parameters fieldset,
#mw-abusefilter-warn-parameters table {
    width: 100%;
    box-sizing: border-box;
}
